{% extends "webIqlimApp/base.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'webIqlimApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">La puerta de la Luz</span>
            <span class="section-heading-lower">Creamos nuevas experiencias</span>
          </h2>
          <p class="mb-3">Ayudando a nuestros clientes a crecer y conectar oportunidades de gran valor e innovación.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Estamos en constante evolución produciendo ideas y mejores soluciones que generen resultados reales a los objetivos de nuestros clientes.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}

